.navbar {
  display: flex;
  padding: 10px 20px;
  background-color: white;
  align-items: center;
  border-top: 3px solid orange;
  box-shadow: 0 0 2px 0 grey;
}

.navbar > a {
  padding: 0 15px;
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.navbar > a:hover {
  background-color: rgb(217, 220, 220);
}

.search-img { 
  top: 19px;
  height: 17px;
  width: 17px;
}

.signup-btn {
  margin-left: auto; 
}